In [125]:
import pandas as pd

### About Dataset

- Context:
Retail dataset of a global superstore for 4 years.
Perform EDA and Predict the sales of the next 7 days from the last date of the dataset!

- Content:
Time series analysis deals with time series based data to extract patterns for predictions and other characteristics of the data. It uses a model for forecasting future values in a small time frame based on previous observations. It is widely used for non-stationary data, such as economic data, weather data, stock prices, and retail sales forecasting.

- Dataset:
The dataset is easy to understand and is self-explanatory

In [4]:
df =pd.read_csv("Global Superstore retail dataset.csv") # loading the dataset

#### Conducting EDA(Exploratory Data Analysis)

In [8]:
print (df.head())

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2017-152156  08/11/2017  11/11/2017    Second Class    CG-12520
1       2  CA-2017-152156  08/11/2017  11/11/2017    Second Class    CG-12520
2       3  CA-2017-138688  12/06/2017  16/06/2017    Second Class    DV-13045
3       4  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335
4       5  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335

     Customer Name    Segment        Country             City       State  \
0      Claire Gute   Consumer  United States        Henderson    Kentucky
1      Claire Gute   Consumer  United States        Henderson    Kentucky
2  Darrin Van Huff  Corporate  United States      Los Angeles  California
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida

   Postal Code Region       Product ID         Category Sub-Category  \
0      42420.0  South  FUR-BO-10001798        Furniture    Bookcases
1      42420.0  South  FUR-CH-10000454        Furniture       Chairs
2      90036.0   West  OFF-LA-10000240  Office Supplies       Labels
3      33311.0  South  FUR-TA-10000577        Furniture       Tables
4      33311.0  South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales
0                  Bush Somerset Collection Bookcase  261.9600
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400
2  Self-Adhesive Address Labels for Typewriters b...   14.6200
3      Bretford CR4500 Series Slim Rectangular Table  957.5775
4                     Eldon Fold 'N Roll Cart System   22.3680

In [10]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales'],
      dtype='object')

In [37]:
print("Total mising values per column:\n",df.isnull().sum())  # Checking total missing values per column
print("Any missing values:",df.isnull().values.any())  # Checking if there are any missing values at all
print("Total missing values in dataset:",df.isnull().sum().sum())  # Checking total miising values in the entire dataset
print("Percentage of missing values per column:\n",(df.isnull().sum()/len(df))*100 ) # Checking percentage of missing values per column

Total mising values per column:
 Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64
Any missing values: True
Total missing values in dataset: 11
Percentage of missing values per column:
 Row ID           0.000000
Order ID         0.000000
Order Date       0.000000
Ship Date        0.000000
Ship Mode        0.000000
Customer ID      0.000000
Customer Name    0.000000
Segment          0.000000
Country          0.000000
City             0.000000
State            0.000000
Postal Code      0.112245
Region           0.000000
Product ID       0.000000
Category         0.000000
Sub-Category     0.000000
Product Name     0.000000
Sales            0.000000
dtype: float64

In [44]:
df.fillna({'Postal Code':'Unknown'}, inplace = True) # handling the missing value

rechecking the missing values

In [46]:
print("Total mising values per column:\n",df.isnull().sum())  # Checking total missing values per column
print("Any missing values:",df.isnull().values.any())  # Checking if there are any missing values at all
print("Total missing values in dataset:",df.isnull().sum().sum())  # Checking total miising values in the entire dataset
print("Percentage of missing values per column:\n",(df.isnull().sum()/len(df))*100 ) # Checking percentage of missing values per column

Total mising values per column:
 Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
dtype: int64
Any missing values: False
Total missing values in dataset: 0
Percentage of missing values per column:
 Row ID           0.0
Order ID         0.0
Order Date       0.0
Ship Date        0.0
Ship Mode        0.0
Customer ID      0.0
Customer Name    0.0
Segment          0.0
Country          0.0
City             0.0
State            0.0
Postal Code      0.0
Region           0.0
Product ID       0.0
Category         0.0
Sub-Category     0.0
Product Name     0.0
Sales            0.0
dtype: float64

#### Which product categories generate the highest total sales?

In [51]:
category_sales = df.groupby('Category')['Sales'].sum().sort_values(ascending=False)
print(category_sales)

Category
Technology         827455.8730
Furniture          728658.5757
Office Supplies    705422.3340
Name: Sales, dtype: float64

#### What is the average order value per customer segment?

In [58]:
avg_order_seg = df.groupby('Segment')['Sales'].mean().sort_values(ascending = False)
print(avg_order_seg)

Segment
Home Office    243.403309
Corporate      233.150720
Consumer       225.065777
Name: Sales, dtype: float64

#### Which regions contribute most to overall revenue?

In [61]:
revenue_region = df.groupby('Region')['Sales'].sum().sort_values(ascending = False)
print(revenue_region)

Region
West       710219.6845
East       669518.7260
Central    492646.9132
South      389151.4590
Name: Sales, dtype: float64

#### What percentage of sales comes from repeat customers vs. new customers?

In [69]:
unique_cus = df['Customer ID'].unique()  # identifying unique customers
cus_count = df['Customer ID'].value_counts() # counting appearence of each customers
# classifying customers
new_cus = cus_count[cus_count == 1].index
repeat_cus = cus_count[cus_count >1].index
# calculating sales from each group
new_sales = df[df['Customer ID'].isin(new_cus)]['Sales'].sum()
repeat_sales = df[df['Customer ID'].isin(repeat_cus)]['Sales'].sum()
# calculate percentage
total_sales = df['Sales'].sum()
new_per = (new_sales/total_sales)*100
repeat_per = (repeat_sales/total_sales)*100

print("New customers sales percentage :",new_per)
print("Repeated customers sales percentage :",repeat_per)

New customers sales percentage : 0.04905761464889571
Repeated customers sales percentage : 99.9509423853511

#### How do monthly sales vary across the 4 years?

In [74]:
df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst = True) # converting orderr date dt to datetime
# Extracting year and month
df['Year'] = df['Order Date'].dt.year
df['Month'] = df['Order Date'].dt.month
# group by year and month and summing up sales
monthly_sales = df.groupby(['Year','Month'])['Sales'].sum().reset_index()
print(monthly_sales)

    Year  Month        Sales
0   2015      1   14205.7070
1   2015      2    4519.8920
2   2015      3   55205.7970
3   2015      4   27906.8550
4   2015      5   23644.3030
5   2015      6   34322.9356
6   2015      7   33781.5430
7   2015      8   27117.5365
8   2015      9   81623.5268
9   2015     10   31453.3930
10  2015     11   77907.6607
11  2015     12   68167.0585
12  2016      1   18066.9576
13  2016      2   11951.4110
14  2016      3   32339.3184
15  2016      4   34154.4685
16  2016      5   29959.5305
17  2016      6   23599.3740
18  2016      7   28608.2590
19  2016      8   36818.3422
20  2016      9   63133.6060
21  2016     10   31011.7375
22  2016     11   75249.3995
23  2016     12   74543.6012
24  2017      1   18542.4910
25  2017      2   22978.8150
26  2017      3   51165.0590
27  2017      4   38679.7670
28  2017      5   56656.9080
29  2017      6   39724.4860
30  2017      7   38320.7830
31  2017      8   30542.2003
32  2017      9   69193.3909
33  2017     10   59583.0330
34  2017     11   79066.4958
35  2017     12   95739.1210
36  2018      1   43476.4740
37  2018      2   19920.9974
38  2018      3   58863.4128
39  2018      4   35541.9101
40  2018      5   43825.9822
41  2018      6   48190.7277
42  2018      7   44825.1040
43  2018      8   62837.8480
44  2018      9   86152.8880
45  2018     10   77448.1312
46  2018     11  117938.1550
47  2018     12   83030.3888

#### What are the top 10 customers by total spend, and how does their purchase behavior differ from the average

In [93]:
top10_cus = df.groupby(['Customer ID'])['Sales'].sum().sort_values(ascending = False).head(10) # getting the top 10 customer
top10_cus_spend = top10_cus.sum().round(2) # total sales by top 10 customers 
avg_spend = df.groupby(['Customer ID'])['Sales'].sum().mean().round(2) # average sales per customer
print("Total spend of top 10 customers:",top10_cus_spend)
print("Average spend:",avg_spend)

Total spend of top 10 customers: 153811.17
Average spend: 2851.87

In [96]:
# Purchase frequency

orders_per_cus = df.groupby(['Customer ID'])['Order ID'].nunique()

top10_orders = orders_per_cus[top10_cus.index].mean()
avg_orders = orders_per_cus.mean()

print("Top 10 avg orders:",top10_orders)
print("Overall avg Orders:",avg_orders)

Top 10 avg orders: 7.3
Overall avg Orders: 6.206809583858764

In [100]:
# Category Prefernce

top10_category = df[df['Customer ID'].isin(top10_cus.index)].groupby('Category')['Sales'].sum()
overall_category = df.groupby('Category')['Sales'].sum()
print("Top 10 category spend:",top10_category)
print("Overall category spend:",overall_category)

Top 10 category spend: Category
Furniture            7931.170
Office Supplies     39140.927
Technology         106739.072
Name: Sales, dtype: float64
Overall category spend: Category
Furniture          728658.5757
Office Supplies    705422.3340
Technology         827455.8730
Name: Sales, dtype: float64

#### Which product categories show the highest growth rate year-over-year?

In [112]:
df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst=True) # converting order date dt to datetime
df['Year'] = df['Order Date'].dt.year
category_year_sales = df.groupby(['Category','Year'])['Sales'].sum().reset_index()
category_year_sales['YOY_growth'] = (category_year_sales.groupby('Category')['Sales'].pct_change()*100)
print(category_year_sales)

           Category  Year        Sales  YOY_growth
0         Furniture  2015  156477.8811         NaN
1         Furniture  2016  164053.8674    4.841570
2         Furniture  2017  195813.0400   19.358990
3         Furniture  2018  212313.7872    8.426787
4   Office Supplies  2015  149512.8200         NaN
5   Office Supplies  2016  133124.4070  -10.961209
6   Office Supplies  2017  182417.5660   37.027890
7   Office Supplies  2018  240367.5410   31.767760
8        Technology  2015  173865.5070         NaN
9        Technology  2016  162257.7310   -6.676296
10       Technology  2017  221961.9440   36.795913
11       Technology  2018  269370.6910   21.358953

#### What seasonal trends can be observed (e.g., peak months for sales)?

In [115]:
df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst=True) # converting order date dt to datetime
df['Month'] = df['Order Date'].dt.month
monthly_sales = df.groupby('Month')['Sales'].sum().reset_index()
print(monthly_sales)

    Month        Sales
0       1   94291.6296
1       2   59371.1154
2       3  197573.5872
3       4  136283.0006
4       5  154086.7237
5       6  145837.5233
6       7  145535.6890
7       8  157315.9270
8       9  300103.4117
9      10  199496.2947
10     11  350161.7110
11     12  321480.1695

#### Which regions or customer segments show declining sales trends that need attention?

In [121]:
# Adding year column
df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst=True)
df['Year'] = df['Order Date'].dt.year

# sales by region and year
region_year_sales = df.groupby(['Region','Year'])['Sales'].sum().reset_index()
region_year_sales['YOY_growth'] = region_year_sales.groupby('Region')['Sales'].pct_change()*100
print(region_year_sales)

# sales by segments and year
segment_year_sales = df.groupby(['Segment','Year'])['Sales'].sum().reset_index()
segment_year_sales['YOY_growth'] = segment_year_sales.groupby('Segment')['Sales'].pct_change()*100
print(segment_year_sales)

     Region  Year        Sales  YOY_growth
0   Central  2015  102920.5206         NaN
1   Central  2016  102425.1724   -0.481292
2   Central  2017  145673.8800   42.224686
3   Central  2018  141627.3402   -2.777807
4      East  2015  127652.8190         NaN
5      East  2016  153225.1830   20.032745
6      East  2017  178511.5380   16.502741
7      East  2018  210129.1860   17.711823
8     South  2015  103374.9055         NaN
9     South  2016   70076.0825  -32.211708
10    South  2017   93535.9035   33.477643
11    South  2018  122164.5675   30.607139
12     West  2015  145907.9630         NaN
13     West  2016  133709.5675   -8.360336
14     West  2017  182471.2285   36.468341
15     West  2018  248130.9255   35.983589
        Segment  Year        Sales  YOY_growth
0      Consumer  2015  262956.8006         NaN
1      Consumer  2016  265356.2933    0.912505
2      Consumer  2017  291142.9652    9.717754
3      Consumer  2018  328604.4719   12.867049
4     Corporate  2015  127797.4957         NaN
5     Corporate  2016  119675.5989   -6.355286
6     Corporate  2017  204977.3178   71.277453
7     Corporate  2018  236043.6624   15.155991
8   Home Office  2015   89101.9118         NaN
9   Home Office  2016   74404.1132  -16.495492
10  Home Office  2017  104072.2670   39.874346
11  Home Office  2018  157403.8849   51.244793

### Forecasting

#### Based on historical daily sales, what are the projected sales for the next 7 days after the last date in the dataset?

In [137]:
df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst=True) # converting orderdate dt to datetime

# aggregate daily sales
daily_sales = df.groupby('Order Date')['Sales'].sum().reset_index()

# set order date as index
daily_sales.set_index('Order Date', inplace = True)

# 7-days moving avg
daily_sales['7d_avg'] = daily_sales['Sales'].rolling(window=7).mean()

# getting the last 7-days avg
last_avg = daily_sales['7d_avg'].iloc[-1]

# forecast
last_date = daily_sales.index[-1]
forecast_dates = pd.date_range(start=last_date + pd.Timedelta(days=1), periods = 7)
forecast = pd.DataFrame({'Forecast_Date': forecast_dates,'Projected_Sales':[round(last_avg, 2)]*7})

print("Next 7-days sales forecast:\n", forecast)

Next 7-days sales forecast:
   Forecast_Date  Projected_Sales
0    2018-12-31          2172.98
1    2019-01-01          2172.98
2    2019-01-02          2172.98
3    2019-01-03          2172.98
4    2019-01-04          2172.98
5    2019-01-05          2172.98
6    2019-01-06          2172.98